extends layout

block content
	.homepage-container


		.login-box(style='display: block; margin: 0 auto; position: inherit')
			.inner-padding
				h3 UCSD Secret Chat Room
				img.logo(src='img/logo_2.png', width='217', height='239', alt='Logo', style='border-radius: 100px')
				form(method="POST",action="/create_anonymous_user")
					p
						input.text-grey(type='text', name='username', value='', placeholder='Your nickname')
						input.text-grey(type='hidden', name='password', value='123', placeholder='Your secret username')
					input.button(type='submit', value='Join now')

		// #login-box
	// .homepage-container


	// JavaScript at the bottom for fast page loading

